.Buttons{
  padding: 10px 20px;
  border-radius: 5px;
}

.Bold{
  font-weight: 600;
}

.Heading{
  font-size: 50px;
}

.SemiHeading{
  font-size: 30px;
}

.SimpleText{
  font-size: 17px;
}

.Literata{
  font-family: "Literata", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


